.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    height: 60px;
}

.progress {
    width: 500px;
}