.wrapper {
    display: flex;
    align-items: center;
    background: white;
    flex-direction: column;
}

.image {
    height: 80vh;
}

.button {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid ;
    color: #4C85D6;
}